        body {
            background-image: url("https://tse4.mm.bing.net/th?id=OIP.SAMy80mI9C4ebFVr-F1r0QHaDP&pid=Api&P=0&w=383&h=167");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        p {
            color: lightblue;
        }
        
        i {
            color: chocolate;
        }
        
        h2 {
            background-color: cadetblue;
        }
        
        h3 {
            color: lightcoral;
        }
        
        h6 {
            color: #eaccff;
        }