        body {
            background-image: url("https://tse1.mm.bing.net/th?id=OIP.ef6oO7GOL36MzrmcohZ5tgHaEo&pid=Api&P=0&w=303&h=189");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        p {
            color: lightblue;
        }
        
        i {
            color: chocolate;
        }
        
        h2 {
            background-color: cadetblue;
        }
        
        h3 {
            color: lightcoral;
        }
        
        h6 {
            color: #eaccff;
        }