        body {
            background-image: url("https://tse3.mm.bing.net/th?id=OIP.dZj18NduJIYvfk_0H5vUvwHaEK&pid=Api&P=0&w=288&h=162");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        p {
            color: lightblue;
        }
        
        i {
            color: chocolate;
        }
        
        h2 {
            background-color: cadetblue;
        }
        
        h3 {
            color: lightcoral;
        }
        
        h6 {
            color: #eaccff;
        }