        body {
            background-image: url("https://tse3.mm.bing.net/th?id=OIP.O03INetQ1Pr2rCRrNG-b_wHaEC&pid=Api&P=0&w=319&h=174");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        p {
            color: lightblue;
        }
        
        i {
            color: chocolate;
        }
        
        h2 {
            background-color: cadetblue;
        }
        
        h3 {
            color: lightcoral;
        }